.opener {
  background-image: url("sunny.jpg");
  height: 50rem;
  width: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#currentUv {
  background-color: aqua;
}