input[type="text"],
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:read-write,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color:#ffffff;
  cursor:default;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  width:25rem;
   
}
/* input:-internal-autofill-selected {
  
  background-color: transparent !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
} */
.opener {
  background-image: url("./images/sunny.jpg");
  height: 50rem;
  width: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

#currentUv {
  background-color: aqua;
  background-size: 2px;
  /* max-width: 2rem; */
}
