input[type="text"],
input[type="text"]:focus,
textarea:focus, select:focus{
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color:transparent;
  cursor:default;
   
}

.opener {
  background-image: url("./images/sunny.jpg");
  height: 50rem;
  width: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

#currentUv {
  background-color: aqua;
}
